<a href="https://colab.research.google.com/github/anandchauhan21/PySpark/blob/main/Session_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 42 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 55.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=d902147cbdaaab49268c5aa86b8a669a3b2010bcf56dc73c717cb1893819aafb
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

# Pyspark GroupBy and Aggregate Functions

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [4]:
spark

In [5]:
df= spark.read.csv('/content/session4.csv', header=True, inferSchema=True)

In [6]:
df.show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
| krish|Data Scince| 10000|
| krish|        IOT|  5000|
|mahesh|   Big Data|  4000|
| krish|   Big Data|  4000|
|mahesh|Data Scince|  3000|
| subha|Data Scince| 20000|
| subha|        IOT| 10000|
| subha|   Big Data|  5000|
| sunny|Data Scince| 10000|
| sunny|   Big Data|  2000|
+------+-----------+------+

In [7]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [8]:
## Groupby
### Group to find max salary
df.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
| sunny|      12000|
| krish|      19000|
|mahesh|       7000|
| subha|      35000|
+------+-----------+

In [9]:
# Groupby Department
df.groupBy('Department').sum().show()

+-----------+-----------+
| Department|sum(Salary)|
+-----------+-----------+
|        IOT|      15000|
|Data Scince|      43000|
|   Big Data|      15000|
+-----------+-----------+

In [10]:
df.groupBy('Department').mean().show()

+-----------+-----------+
| Department|avg(Salary)|
+-----------+-----------+
|        IOT|     7500.0|
|Data Scince|    10750.0|
|   Big Data|     3750.0|
+-----------+-----------+

In [11]:
df.groupBy('Department').count().show()

+-----------+-----+
| Department|count|
+-----------+-----+
|        IOT|    2|
|Data Scince|    4|
|   Big Data|    4|
+-----------+-----+

In [12]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+