<a href="https://colab.research.google.com/github/anandchauhan21/PySpark/blob/main/Session_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 45 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 56.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=72f662421d15eb2095f0b9a319061931be337165c5112a13fc3e18c9196319ed
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

# Pyspark Dataframes
*   Filter Operation
*   &, |, ==
*   ~

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [4]:
df = spark.read.csv('/content/test.csv', header=True,inferSchema=True)

In [5]:
df.show()

+-------+---+----+------+
|   name|age| exp|Salary|
+-------+---+----+------+
|  anand| 18|   4| 35000|
|   jay | 24|   8| 30000|
|    raj| 20|   6| 25000|
|   ajay| 29|   3| 25000|
| ranjan| 24|   6| 18000|
| vivake| 21|   4| 40000|
|kamlesh| 20|null| 15000|
|   null| 34|   4| 19000|
|   null| 36|null|  null|
+-------+---+----+------+

In [6]:
df = df.na.drop()

In [7]:
df.show()

+------+---+---+------+
|  name|age|exp|Salary|
+------+---+---+------+
| anand| 18|  4| 35000|
|  jay | 24|  8| 30000|
|   raj| 20|  6| 25000|
|  ajay| 29|  3| 25000|
|ranjan| 24|  6| 18000|
|vivake| 21|  4| 40000|
+------+---+---+------+

## Filter Oprestion

In [9]:
### Salary of the people less then or equal to 30000
df.filter("Salary<=30000").show()

+------+---+---+------+
|  name|age|exp|Salary|
+------+---+---+------+
|  jay | 24|  8| 30000|
|   raj| 20|  6| 25000|
|  ajay| 29|  3| 25000|
|ranjan| 24|  6| 18000|
+------+---+---+------+

In [11]:
df.filter("Salary<=30000").select(["name","age"]).show()

+------+---+
|  name|age|
+------+---+
|  jay | 24|
|   raj| 20|
|  ajay| 29|
|ranjan| 24|
+------+---+

In [15]:
df.filter((df['Salary']<=35000) & (df['Salary'] >=25000)).show()

+-----+---+---+------+
| name|age|exp|Salary|
+-----+---+---+------+
|anand| 18|  4| 35000|
| jay | 24|  8| 30000|
|  raj| 20|  6| 25000|
| ajay| 29|  3| 25000|
+-----+---+---+------+

In [20]:
df.filter(~(df['Salary']<=30000)).show()

+------+---+---+------+
|  name|age|exp|Salary|
+------+---+---+------+
| anand| 18|  4| 35000|
|vivake| 21|  4| 40000|
+------+---+---+------+