<a href="https://colab.research.google.com/github/anandchauhan21/PySpark/blob/main/Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

# Session 1


*   PySpark Dataframe
*   Reading The Dataset
*   Checking the Datatype pf the Colume(Schema)
*   Selectiong Columns And indexing
*   Check Describtion option similar to Pandas
*   Adding Colums
*   Dropping columns
*   Renaming Columns

In [23]:
import pyspark

In [24]:
from pyspark.sql import SparkSession

In [25]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [26]:
spark

In [27]:
df_pyspark = spark.read.csv('/content/Book1.csv')

In [28]:
df_pyspark = spark.read.option('header','true').csv('/content/Book1.csv',inferSchema=True) #.show()

In [29]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- exp: integer (nullable = true)

In [30]:
df_pyspark = spark.read.csv('/content/Book1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+---+---+
| name|age|exp|
+-----+---+---+
|anand| 18|  4|
| jay | 24|  8|
|  raj| 20|  6|
+-----+---+---+

In [31]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- exp: integer (nullable = true)

In [32]:
df_pyspark.columns

['name', 'age', 'exp']

In [33]:
df_pyspark.head(3)

[Row(name='anand', age=18, exp=4),
 Row(name='jay ', age=24, exp=8),
 Row(name='raj', age=20, exp=6)]

In [35]:
df_pyspark.select(['name','exp']).show()

+-----+---+
| name|exp|
+-----+---+
|anand|  4|
| jay |  8|
|  raj|  6|
+-----+---+

In [36]:
df_pyspark['name']

Column<'name'>

In [37]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('exp', 'int')]

In [39]:
df_pyspark.describe().show()

+-------+-----+------------------+---+
|summary| name|               age|exp|
+-------+-----+------------------+---+
|  count|    3|                 3|  3|
|   mean| null|20.666666666666668|6.0|
| stddev| null|3.0550504633038935|2.0|
|    min|anand|                18|  4|
|    max|  raj|                24|  8|
+-------+-----+------------------+---+

Adding Columns in data fram

In [45]:
df_pyspark=df_pyspark.withColumn('Exp after 2 year',df_pyspark['exp']+2)

In [46]:
df_pyspark.show()

+-----+---+---+----------------+
| name|age|exp|Exp after 2 year|
+-----+---+---+----------------+
|anand| 18|  4|               6|
| jay | 24|  8|              10|
|  raj| 20|  6|               8|
+-----+---+---+----------------+

Drop the Colums

In [48]:
df_pyspark=df_pyspark.drop('Exp after 2 year')

In [49]:
df_pyspark.show()

+-----+---+---+
| name|age|exp|
+-----+---+---+
|anand| 18|  4|
| jay | 24|  8|
|  raj| 20|  6|
+-----+---+---+

Rename the Colums

In [50]:
df_pyspark = df_pyspark.withColumnRenamed('name','New name')

In [51]:
df_pyspark.show()

+--------+---+---+
|New name|age|exp|
+--------+---+---+
|   anand| 18|  4|
|    jay | 24|  8|
|     raj| 20|  6|
+--------+---+---+