<a href="https://colab.research.google.com/github/anandchauhan21/PySpark/blob/main/Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

# PySpark Handling Missing Values



*   Dropping Colums
*   Dropping Rows
*   Various Parameter in Dropping functionalities
*   Handling Missing values by Mean, MEdian And Mode

use this [csv](https://github.com/anandchauhan21/PySpark/blob/main/test.csv) file

In [14]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [15]:
df = spark.read.csv('/content/test.csv', header=True,inferSchema=True)

In [16]:
df.show()

+-------+---+----+------+
|   name|age| exp|Salary|
+-------+---+----+------+
|  anand| 18|   4| 35000|
|   jay | 24|   8| 30000|
|    raj| 20|   6| 25000|
|   ajay| 29|   3| 25000|
| ranjan| 24|   6| 18000|
| vivake| 21|   4| 40000|
|kamlesh| 20|null| 15000|
|   null| 34|   4| 19000|
|   null| 36|null|  null|
+-------+---+----+------+

In [17]:
df.na.drop().show()

+------+---+---+------+
|  name|age|exp|Salary|
+------+---+---+------+
| anand| 18|  4| 35000|
|  jay | 24|  8| 30000|
|   raj| 20|  6| 25000|
|  ajay| 29|  3| 25000|
|ranjan| 24|  6| 18000|
|vivake| 21|  4| 40000|
+------+---+---+------+

In [18]:
### any == how
df.na.drop(how='all').show()

+-------+---+----+------+
|   name|age| exp|Salary|
+-------+---+----+------+
|  anand| 18|   4| 35000|
|   jay | 24|   8| 30000|
|    raj| 20|   6| 25000|
|   ajay| 29|   3| 25000|
| ranjan| 24|   6| 18000|
| vivake| 21|   4| 40000|
|kamlesh| 20|null| 15000|
|   null| 34|   4| 19000|
|   null| 36|null|  null|
+-------+---+----+------+

In [19]:
### thereshold
df.na.drop(how='any',thresh=1).show()

+-------+---+----+------+
|   name|age| exp|Salary|
+-------+---+----+------+
|  anand| 18|   4| 35000|
|   jay | 24|   8| 30000|
|    raj| 20|   6| 25000|
|   ajay| 29|   3| 25000|
| ranjan| 24|   6| 18000|
| vivake| 21|   4| 40000|
|kamlesh| 20|null| 15000|
|   null| 34|   4| 19000|
|   null| 36|null|  null|
+-------+---+----+------+

In [20]:
### Subset
df.na.drop(how='any',subset=['exp']).show()

+------+---+---+------+
|  name|age|exp|Salary|
+------+---+---+------+
| anand| 18|  4| 35000|
|  jay | 24|  8| 30000|
|   raj| 20|  6| 25000|
|  ajay| 29|  3| 25000|
|ranjan| 24|  6| 18000|
|vivake| 21|  4| 40000|
|  null| 34|  4| 19000|
+------+---+---+------+

In [25]:
### Filling the Missing Value
df.na.fill('empt').show()

+-------+---+----+------+
|   name|age| exp|Salary|
+-------+---+----+------+
|  anand| 18|   4| 35000|
|   jay | 24|   8| 30000|
|    raj| 20|   6| 25000|
|   ajay| 29|   3| 25000|
| ranjan| 24|   6| 18000|
| vivake| 21|   4| 40000|
|kamlesh| 20|null| 15000|
|   empt| 34|   4| 19000|
|   empt| 36|null|  null|
+-------+---+----+------+

In [26]:
df.show()

+-------+---+----+------+
|   name|age| exp|Salary|
+-------+---+----+------+
|  anand| 18|   4| 35000|
|   jay | 24|   8| 30000|
|    raj| 20|   6| 25000|
|   ajay| 29|   3| 25000|
| ranjan| 24|   6| 18000|
| vivake| 21|   4| 40000|
|kamlesh| 20|null| 15000|
|   null| 34|   4| 19000|
|   null| 36|null|  null|
+-------+---+----+------+

In [27]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age','exp','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['age','exp','Salary']]
).setStrategy("mean")

In [28]:
### Add imputation cols to df
imputer.fit(df).transform(df).show()

+-------+---+----+------+-----------+-----------+--------------+
|   name|age| exp|Salary|age_imputed|exp_imputed|Salary_imputed|
+-------+---+----+------+-----------+-----------+--------------+
|  anand| 18|   4| 35000|         18|          4|         35000|
|   jay | 24|   8| 30000|         24|          8|         30000|
|    raj| 20|   6| 25000|         20|          6|         25000|
|   ajay| 29|   3| 25000|         29|          3|         25000|
| ranjan| 24|   6| 18000|         24|          6|         18000|
| vivake| 21|   4| 40000|         21|          4|         40000|
|kamlesh| 20|null| 15000|         20|          5|         15000|
|   null| 34|   4| 19000|         34|          4|         19000|
|   null| 36|null|  null|         36|          5|         25875|
+-------+---+----+------+-----------+-----------+--------------+