<a href="https://colab.research.google.com/github/anandchauhan21/PySpark/blob/main/Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 45 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 57.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=8b9c10a71539dc8669513380c7aca2d230cc10f7df6a4b21f7927871a9f7f958
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

# PySpark Handling Missing Values



*   Dropping Colums
*   Dropping Rows
*   Various Parameter in Dropping functionalities
*   Handling Missing values by Mean, MEdian And Mode

In [5]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
df = spark.read.csv('/content/test.csv', header=True,inferSchema=True)

In [9]:
df.show()

+-------+---+----+------+
|   name|age| exp|Salary|
+-------+---+----+------+
|  anand| 18|   4| 35000|
|   jay | 24|   8| 30000|
|    raj| 20|   6| 25000|
|   ajay| 29|   3| 25000|
| ranjan| 24|   6| 18000|
| vivake| 21|   4| 40000|
|kamlesh| 20|null| 15000|
|   null| 34|   4| 19000|
|   null| 36|null|  null|
+-------+---+----+------+

In [10]:
df.na.drop().show()

+------+---+---+------+
|  name|age|exp|Salary|
+------+---+---+------+
| anand| 18|  4| 35000|
|  jay | 24|  8| 30000|
|   raj| 20|  6| 25000|
|  ajay| 29|  3| 25000|
|ranjan| 24|  6| 18000|
|vivake| 21|  4| 40000|
+------+---+---+------+

In [12]:
### any == how
df.na.drop(how='all').show()

+-------+---+----+------+
|   name|age| exp|Salary|
+-------+---+----+------+
|  anand| 18|   4| 35000|
|   jay | 24|   8| 30000|
|    raj| 20|   6| 25000|
|   ajay| 29|   3| 25000|
| ranjan| 24|   6| 18000|
| vivake| 21|   4| 40000|
|kamlesh| 20|null| 15000|
|   null| 34|   4| 19000|
|   null| 36|null|  null|
+-------+---+----+------+

In [14]:
### thereshold
df.na.drop(how='any',thresh=1).show()

+-------+---+----+------+
|   name|age| exp|Salary|
+-------+---+----+------+
|  anand| 18|   4| 35000|
|   jay | 24|   8| 30000|
|    raj| 20|   6| 25000|
|   ajay| 29|   3| 25000|
| ranjan| 24|   6| 18000|
| vivake| 21|   4| 40000|
|kamlesh| 20|null| 15000|
|   null| 34|   4| 19000|
|   null| 36|null|  null|
+-------+---+----+------+